#error {
  display: flex;
  align-items: center;
  flex-direction: column;

  code {
    width: 95%;
    padding: 4px;
    border-radius: 4px;
    background-color: rgba(#131212, 0.9);
    color: rgb(185, 142, 142);
    display: inline-block;
    overflow-wrap: break-word;
  }
}
